/* General body settings */
body {
    font-family: 'Arial', sans-serif;
    background: #f0f2f5;
    margin: 0;
    padding: 0;
}

/*HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(135deg, #ffc107b3, #ff7a00);
    padding: 5px;
    text-align: left;
    flex-wrap: wrap;
    /* Ensure wrapping for smaller screens */
  }
  
  .logo {
    height: auto;
    width: 20vh;
    /* Responsive logo size */
    max-width: 100%;
    /* Prevent logo from exceeding container width */
    object-fit: contain;
    mix-blend-mode: multiply;
    background-color: transparent;
    filter: brightness(1.5);
    cursor: pointer;
  }
  
  header h1 {
    flex: 1;
    font-size: 1.7em;
    letter-spacing: 2px;
    margin: 0 10px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(202, 198, 198, 0.3), 4px 4px 6px rgba(0, 0, 0, 0.2);
    word-wrap: break-word;
    text-align: left;
    
  }
  
  
  /* Responsive Design */
  @media (max-width: 768px) {
    header {
      justify-content: center;
      align-items: center;
      flex-direction: column; /* Stack header items vertically */
      text-align: center; /* Center text */
    }
  
    header h1 {
      justify-content: center;
      align-items: center;
      text-align: center; 
      font-size: 1.6em; /* Reduce font size for smaller screens */
      line-height: 1.2; /* Adjust line height for better readability */
      margin-top: 5px; /* Add spacing between logo and heading */
  
    }
    
  
    .logo {
      width: 140px; /* Set a fixed width for the logo */
      height: auto; /* Maintain aspect ratio */
      margin-bottom: 5px; /* Add spacing below the logo */
    }
  }

/* Content Styling */
.content {
    padding: 20px;
    flex-grow: 1;
    text-align: center;
}

/* Content Title Styling */
.content-title {
    border: 2px solid #ffffff;
    padding: 10px;
    background-color: #f8f8f8;
    width: 98%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
}


.content-title h2 {
    color: #000000;
    font-size: 2.2em;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(202, 198, 198, 0.3), 4px 4px 6px rgba(0, 0, 0, 0.2);
}


.content-title p {
    color: #000000;
    font-size: 1.1em;
    margin-top: 10px;
    text-align: left;
}


.edu-example {
    display: flex;
    justify-content: center;
    gap: 30px;
    /* Space between the two example containers */
    margin-top: 20px;
    flex-wrap: wrap;
}

/* Each visualization container */
.edu-visualization {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 45%;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.edu-visualization-Page3 {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 90%;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.edu-visualization-Page3 h3{
    font-size: 1.8em;
    font-weight: bolder;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    position: relative;
    text-shadow: 2px 2px 4px rgba(202, 198, 198, 0.3), 4px 4px 6px rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 15px 0;
}

.edu-visualization-Page3 strong {
    color: #000000; /* Bright color for emphasis */
    font-weight: bold; /* Emphasize with bold weight */
    font-size: 1.2em; /* Slightly larger font size */
    text-decoration: underline;
    letter-spacing: 1px; /* Add spacing for style */
   padding-bottom: 5px;
   display: inline-block;
}

.edu-visualization-Page3 p {
    font-size: 1.1em;
    color: #464646;
    
    text-align: left;
    padding: 0px 40px;
    font-family:Arial, Helvetica, sans-serif;
}

.edu-visualization-Page3 span {
    color: #ff0000; /* Bright color for emphasis */
    
    font-size: 1.1em; /* Slightly larger font size */
    
    display: inline-block;
}

.edu-example .edu-visualization-Page3 .description .subspan {
    color: #137dff;
    font-weight:500;
}




.edu-visualization:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
}

/* Fancy heading style */
.fancy-heading {
    font-size: 1.35em;
    font-weight: bolder;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    position: relative;
    text-shadow: 2px 2px 4px rgba(202, 198, 198, 0.3), 4px 4px 6px rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 15px 0;
}

/* Description styling */
.description {
    font-size: 1em;
    color: #464646;
    margin-bottom: 15px;
    text-align: left;
    padding: 0px 40px;
}

.dashboard-note {
    background-color: #f9f9f9;
    border-left: 4px solid #ff7a00;
    border-right: 4px solid #ff7a00;
    padding: 10px 15px;
    margin: 15px 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .dashboard-note strong {
    color: black;
    font-weight: bolder;
  }
  

/* Navigation Bar Styling */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    background-color: #bbbaba;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
}

/* Left Section */
.nav-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.nav-left a {
    text-decoration: none;
    color: #007BFF;
    background-color: white;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

nav a.Page1 {
    background-color: #007BFF;
    color: white;
}

nav a.Page2 {
    background-color: #007BFF;
    color: white;
}

nav a.Page3 {
    background-color: #007BFF;
    color: white;
}
nav a.Page4 {
    background-color: #007BFF;
    color: white;
}
nav a.Page5 {
    background-color: #007BFF;
    color: white;
}
nav a.Page6 {
    background-color: #007BFF;
    color: white;
}


.nav-left a:hover {
    background-color: #007BFF;
    color: white;
    transform: scale(1.1);
    /* Smooth scaling effect */
}


.nav-left {
    position: relative;
}


/* Mobile-first approach */
@media only screen and (max-width: 768px) {
    /* General body and layout adjustments */
    body {
        font-size: 16px;
        margin: 0;
        padding: 0;
    }

    /* Header adjustments */
    .grid-header {
        display: flex;
        
    }
    

    .grid-header img {
        width: 10px;
        height: auto;
        margin: 10px;
        align-items: center;
        }  
    

    .grid-header h1 {
        display: none;
        
    }

    /* Content adjustments */
    .content {
        padding: 10px;
    }

    .content-title h2 {
        font-size: 1.2rem;
    }

    .content-title p {
        font-size: 1rem;
        line-height: 1.5;
    }

    /* Adjust visualization containers */
    .edu-example {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .edu-visualization {
        width: 100%;
    }

    .edu-visualization iframe {
        width: 100%;
        height: 250px; /* Adjust as per design preference */
    }

    /* Navigation adjustments */
    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
    }

    nav a {
        margin: 5px;
        padding: 8px 15px;
        font-size: 0.9rem;
        text-align: center;
        display: inline-block;
    }

    /* Footer adjustments */
    .footer {
        padding: 10px;
        text-align: center;
    }

    .footer-content p {
        font-size: 0.8rem;
        line-height: 1.4;
    }

    .footer-content .footerlink {
        display: block;
        margin: 5px 0;
    }
}

