/* Styling for the Header */
.grid-header {
    display:flex;
    
    align-items: center;
    justify-content:space-between;
    background: linear-gradient(135deg, #ffc107b3, #ff7a00);
    text-align: center;
  }
  
  .logo-space {
    flex: 0 0 auto;
  }
  
  .logo {
    height: auto; /* Set height */
    width: 20vh; /* Maintain aspect ratio */
    object-fit: contain; /* Ensure proper fitting */
    mix-blend-mode:multiply; /* Blend logo with background */
    background-color: transparent; /* Ensure no separate background */
    filter: brightness(1.5); /* Optional: Slightly adjust brightness */
    cursor: pointer;
  }
  
  .logo1 {
    display: none;
    height: auto; /* Set height */
    width: 40vh; /* Maintain aspect ratio */
    object-fit: contain; /* Ensure proper fitting */
    mix-blend-mode:multiply; /* Blend logo with background */
    background-color: transparent; /* Ensure no separate background */
    filter: brightness(1.2); /* Optional: Slightly adjust brightness */
    padding: 0px 2px;
  }
  
  .grid-header h1 {
    flex: 1;
    text-align: left;
    font-size: 2em; /* Large and prominent */
    letter-spacing: 4px; /* Spaced for style */
    margin: 0;
    color: #ffffff; /* Clean white color */
    font-family: 'Poppins', sans-serif; /* Modern and stylish font */
    text-transform: uppercase; /* Uniform uppercase letters */
    text-shadow: 2px 2px 4px rgba(202, 198, 198, 0.3), 4px 4px 6px rgba(0, 0, 0, 0.2);
    
  }
  
  
@media (max-width: 480px) {
  header .logo1 {
    display: none !important;
  }
}


  