/* Footer Styling */
.footer {
    background-color: #fe7b01;
    color: #ffffff;
    padding: 15px;
    
  }
  
  .footer-content {
    margin: 0 auto;
  }
  
  .disclaimer {
    font-weight: bold;
    line-height: 15px;
  }
  
  .footer p {
    margin: 5px 0;
    text-align:left;
    line-height: 20px;
    font-size: 15px;
    padding: 0px 70px;
  }
  
  p.copyright {
    text-align: center;
    font-size: 17px;
  }
  
  .footerlink {
    color: white;
    font-weight: bolder;
    text-decoration: underline ;
    font-style: italic;
    font-size: 16px;
  }