/* Footer Styling */
.footer {
  background-color: #fe7b01;
  color: #ffffff;
  padding: 5px;
}

.footer-content {
  margin: 0 auto;
}

.disclaimer {
  font-weight: bold;
  line-height: 1em;
}

.footer p {
  margin: 5px 0;
  text-align: left;
  line-height: 20px;
  font-size: .8em;
  padding: 0px 70px;
}

p.copyright {
  text-align: center;
  font-size: 1em;
}

.footerlink {
  color: white;
  font-weight: bolder;
  text-decoration: underline;
  font-style: italic;
  font-size: 16px;
}

/* Social Media Section Styling */
.social-media {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  
}

.social-media h3 {
  font-size: 1.2em;
 
}

.social-icons {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.social-icons li a {
  color: #ffffff;
  font-size: 24px;
  transition: color 0.3s ease;
}

.social-icons li a:hover {
  color: #333; /* Change hover color as needed */
}

/* Mobile Footer Styling */
@media (max-width: 768px) {
  .footer {
      padding: 10px; /* Reduce padding for smaller screens */
  }

  .footer p {
      font-size: .875em; /* Slightly smaller font */
      padding: 0px 20px; /* Reduce padding for a more compact layout */
      text-align: justify; /* Center-align text for better readability */
  }

  .disclaimer {
      font-size: 1em; /* Smaller font for disclaimers */
      text-align: center; /* Center-align disclaimers */
      line-height: 18px; /* Adjust line height */
  }

  p.copyright {
      font-size: 16px; /* Reduce font size for copyrights */
      margin-top: 10px;
      text-align: center;
  }

  .footerlink {
      font-size: 14px; /* Slightly smaller font for links */
  }

  /* Mobile Social Media Styling */
  .social-media h3 {
      font-size: 1em; /* Smaller font for heading */
  }

  .social-icons li a {
      font-size: 20px; /* Smaller icons for mobile */
  }
}